<div class="main">
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">PicsCart</h2>
        </div>

        <div class="menu">
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/upload">Upload</a></li>
            </ul>
        </div>

        

    </div>
    <div class="content">
        <h1>Access vector<br><span>Icons</span>&<span>Images</span></h1>
         <p>Download Free Icons and Images for your projects.<br>
        Resources made by and for designers.<br>PNG and SVG formats</p><br>


        <button class="cn"><a routerLink="/images">Explore</a></button>
    </div>
</div>
